<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>
<%= link_to "글쓰기", posts_new_path %>
<form action="/blogs">
  <input type="text" name="q" />
  <input type="submit" />
</form>
<div class="container/rander">
  <% @posts.in_groups_of(3,false).each do |group| %>
    <div class="row mt-5">
      <% group.each do |post| %>
        <div class="col-4">
          <a href="/posts/<%=post.id%>">
          <img src="<%=post.postimage.thumb%>" class = "img-fluid">
        </div>
      <% end %>
    </div>
  <% end %>
</div>